@charset "utf-8";
/* CSS Document */

body{
	background-image: url(" alexey-skorov-japanese-classroom-001-interior-044-3-1.jpg");
}
.inputfeldt{
	font-family: 'Open Sans', sans-serif;
	margin-top: 350px;
	text-align: center;
	margin-left: 200px;
	background: linear-gradient(0deg, #E1E719, #D7E16B);
	max-width: 200px;
	max-height: 250px;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 4px 6px 10px -4px black;
	border-radius: 10px;

	
}
.inputfeldt2{
	font-family: 'Open Sans', sans-serif;
	margin-top: -350px;
	text-align: center;
	margin-left: 1600px;
	background: linear-gradient(0deg, #E1E719, #D7E16B);
	max-width: 200px;
	max-height: 250px;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 4px 6px 10px -4px black;
	border-radius: 10px;

	
}


.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#tavle{
	font-family: 'Open Sans', sans-serif;
	margin-top: -500px;
	text-align: center;
	margin-left: 20px;
	background-color: aqua;
	max-width: 200px;
	max-height: 250px;
	padding-bottom: 20px;
	padding-top: 100px;
}

.blackb{
	background-image: url(" Blackboard-2007.png");
	margin-top: -450px;
	margin-left: 500px;
	height: 600px;
	width: 1000px;
	background-color: red;

}

.postit1 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(2deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}

.postit2 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(-3deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}

.postit3 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(-1deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}


.postit1:hover{ transform: scale(1.1); }
.postit2:hover{ transform: scale(1.1); }
.postit3:hover{ transform: scale(1.1); }

h1{
	font-family: 'Open Sans', sans-serif;
	padding-left: 900px;
	margin-top: 70px;
	color: #1A1A1A;
	margin-bottom: -40px;
}
h2{
font-size: 15px;

}
.name{
	font-size: 10px;
	padding-left: 40px;
	padding-top: 10px;
}

.dato{
	font-size: 10px;
	margin-bottom: 50px;
	margin-left: 100px;
}
.brodt{
	font-size: 13px;
}

.spand{
	max-width: 500px;
	max-height: 500px;
	background-color: aliceblue;
	
}
.algerian {
    text-shadow: 1px 1px 0 #E1E719, 2px 2px 0 #E1E719;
}
.castellar {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #E1E719, 1px 1px 0 #E1E719,
             2px -1px 0 #E1E719, 3px 0 0 #E1E719;
}
.outline {
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #E1E719, -1px 1px 0 #E1E719,
             1px -1px 0 #E1E719, -1px -1px 0 #E1E719;
}







@media only screen and (max-width: 600px) {
    
	body{
	background-image: url(" alexey-skorov-japanese-classroom-001-interior-044-3-12.png");
		max-width: 600px;
}
.inputfeldt{
	font-family: 'Open Sans', sans-serif;
	margin-top: 80px;
	text-align: center;
	margin-left: 140px;
	background: linear-gradient(0deg, #E1E719, #D7E16B);
	max-width: 100px;
	max-height: 150px;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 4px 6px 10px -4px black;
	border-radius: 10px;
	font-size: 12px;

	
}
	.text-input{
		width: 75px;
	}	

	

.inputfeldt2{
	font-family: 'Open Sans', sans-serif;
	margin-top: -350px;
	text-align: center;
	margin-left: 1600px;
	background: linear-gradient(0deg, #E1E719, #D7E16B);
	max-width: 200px;
	max-height: 250px;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 4px 6px 10px -4px black;
	border-radius: 10px;

	
}


.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#tavle{
	font-family: 'Open Sans', sans-serif;
	margin-top: -500px;
	text-align: center;
	margin-left: 20px;
	background-color: aqua;
	max-width: 200px;
	max-height: 250px;
	padding-bottom: 20px;
	padding-top: 100px;
}

.blackb{
	background-image: url(" Blackboard-2007.png");
	margin-top: -450px;
	margin-left: 500px;
	height: 600px;
	width: 1000px;
	background-color: red;

}

.postit1 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(2deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}

.postit2 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(-3deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}

.postit3 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(-1deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}


.postit1:hover{ transform: scale(1.1); }
.postit2:hover{ transform: scale(1.1); }
.postit3:hover{ transform: scale(1.1); }

h1{
	font-family: 'Open Sans', sans-serif;
	padding-left: 110px;
	margin-top: 0px;
	color: #1A1A1A;
	margin-bottom: -40px;
}
h2{
font-size: 15px;

}
.name{
	font-size: 10px;
	padding-left: 40px;
	padding-top: 10px;
}

.dato{
	font-size: 10px;
	margin-bottom: 50px;
	margin-left: 100px;
}
.brodt{
	font-size: 13px;
}

.spand{
	max-width: 500px;
	max-height: 500px;
	background-color: aliceblue;
	
}
.algerian {
    text-shadow: 1px 1px 0 #E1E719, 2px 2px 0 #E1E719;
}
.castellar {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #E1E719, 1px 1px 0 #E1E719,
             2px -1px 0 #E1E719, 3px 0 0 #E1E719;
}
.outline {
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #E1E719, -1px 1px 0 #E1E719,
             1px -1px 0 #E1E719, -1px -1px 0 #E1E719;
}}

@media only screen and (max-width: 800px) {
    
	body{
	background-image: url(" alexey-skorov-japanese-classroom-001-interior-044-3-13.png");
		max-width: 800px;
}
.inputfeldt{
	font-family: 'Open Sans', sans-serif;
	margin-top: 80px;
	text-align: center;
	margin-left: 300px;
	background: linear-gradient(0deg, #E1E719, #D7E16B);
	max-width: 200px;
	max-height: 150px;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 4px 6px 10px -4px black;
	border-radius: 10px;
	font-size: 12px;

	
}
	.text-input{
		width: 150px;
	}	

	

.inputfeldt2{
	font-family: 'Open Sans', sans-serif;
	margin-top: -350px;
	text-align: center;
	margin-left: 1600px;
	background: linear-gradient(0deg, #E1E719, #D7E16B);
	max-width: 200px;
	max-height: 250px;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 4px 6px 10px -4px black;
	border-radius: 10px;

	
}


.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#tavle{
	font-family: 'Open Sans', sans-serif;
	margin-top: -500px;
	text-align: center;
	margin-left: 20px;
	background-color: aqua;
	max-width: 200px;
	max-height: 250px;
	padding-bottom: 20px;
	padding-top: 100px;
}

.blackb{
	background-image: url(" Blackboard-2007.png");
	margin-top: 1000px;
	margin-left: 500px;
	height: 600px;
	width: 1000px;
	background-color: red;

}

.postit1 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(2deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}

.postit2 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(-3deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}

.postit3 {
	margin-top: 50px;
	margin-left: 35px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 50px;
	background: linear-gradient(135deg, #E1E719, #D7E16B);
	border-bottom-right-radius: 130px 9px;
	transform: rotate(-1deg);
	box-shadow: 2px 3px 5px -4px black;
	font-size: 15px;
	transition: all .2s ease-in-out;
}


.postit1:hover{ transform: scale(1.1); }
.postit2:hover{ transform: scale(1.1); }
.postit3:hover{ transform: scale(1.1); }

h1{
	font-family: 'Open Sans', sans-serif;
	padding-left: 315px;
	margin-top: 0px;
	color: #1A1A1A;
	margin-bottom: -40px;
}
h2{
font-size: 15px;

}
.name{
	font-size: 10px;
	padding-left: 40px;
	padding-top: 10px;
}

.dato{
	font-size: 10px;
	margin-bottom: 50px;
	margin-left: 100px;
}
.brodt{
	font-size: 13px;
}

.spand{
	max-width: 500px;
	max-height: 500px;
	background-color: aliceblue;
	
}
.algerian {
    text-shadow: 1px 1px 0 #E1E719, 2px 2px 0 #E1E719;
}
.castellar {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #E1E719, 1px 1px 0 #E1E719,
             2px -1px 0 #E1E719, 3px 0 0 #E1E719;
}
.outline {
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #E1E719, -1px 1px 0 #E1E719,
             1px -1px 0 #E1E719, -1px -1px 0 #E1E719;
}}