@charset "utf-8";
/* CSS Document */
* {
				margin: 0;
				padding: 0;
			}
			
			body {
				margin: 10px;
				display: flex;
				flex-wrap: wrap;
			}
			.postit {
				margin: 30px;
				width: 300px;
				height: 300px;
				padding: 15px;
				box-shadow: 2px 3px 5px -2px black;
				transform: rotate(-3deg);
				font-family: 'Indie Flower', cursive;
			}
			
			.postit:nth-child(1){
				background: linear-gradient(135deg, rgba(70,234,255,1.00),rgba(194,248,255,1.00));
				transform: rotate(3deg);
				border-bottom-right-radius: 100px 10px;
			}
			
			.postit:nth-child(2){
				background: linear-gradient(225deg, rgba(149,255,149,1.00), rgba(199,255,199,1.00));
				border-bottom-left-radius: 100px 10px;
			}
			
			.postit:nth-child(3){
				background: linear-gradient(135deg, #F4E575,#F9F0AF);
				transform: rotate(1deg);
				border-bottom-right-radius: 500px 10px;
			}
			
			.postit:nth-child(4){
				background: linear-gradient(135deg, rgba(255,156,91,1.00), rgba(255,180,130,1.00));
				border-bottom-right-radius: 15px 100px;
				
			}

			.postit:nth-child(5){
				background: linear-gradient(135deg, #F4E575,#F9F0AF);
				transform: rotate(1deg);
				border-bottom-right-radius: 500px 10px;
			}

			.postit:nth-child(6){
				background: linear-gradient(135deg, rgba(70,234,255,1.00),rgba(194,248,255,1.00));
				transform: rotate(3deg);
				border-bottom-right-radius: 100px 10px;
			}	
			.postit:nth-child(7){
				background: linear-gradient(225deg, rgba(149,255,149,1.00), rgba(199,255,199,1.00));
				border-bottom-left-radius: 100px 10px;
			}
			
			h2 {
				margin-bottom: 10px;
			}
			
			.name {
				position: absolute;
				bottom: 5px;
			}
			time {
				text-align: right;
				display: block;
				float: right;
			}

			.btn {
				padding-bottom: 5px;
			}


.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
}